@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f7fb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
  max-width: 100%;
  width: 350px;
  /* background-color: red; */
}

/* ფსეუდო ელემენტი */
.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: blue;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(
    -50%
  ); /* ზემოთ აწევა თავად ამ ელემენტის 50% - ით. გაცენტრისთვის */
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.circle.active {
  border-color: blue;
}

.btn {
  background-color: blueviolet;
  color: #fff;
  border: 0;
  border-radius: 6px;
  font-family: inherit;
  cursor: pointer;
  padding: 8px 30px;
  font-size: 14px;
}

/* კლიკზე დაიზუმება/დაპატარავდება */
.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
    background-color: #e0e0e0;
    cursor:not-allowed;          /* კურსორი რომ ვერ გამოიყენო */
}



